/GNUmakefile
/build/
/.cache/
/.vscode/
*.pyc
.sdk
.stgit-*
.git-submodule-status
.clang-format
.gdb_history
cscope.*
tags
TAGS
GPATH
GRTAGS
GTAGS
*~
*.ast_raw
*.depend_raw
*.swp
*.patch
*.gcov

# Windows incompatible reparse points
roms/edk2/EmulatorPkg/Unix/Host/X11IncludeHack

# Windows reparse points (symlinks incompatible with git on Windows)
roms/edk2/EmulatorPkg/Unix/Host/X11IncludeHack
roms/skiboot/doc/process/CONTRIBUTING.md
roms/skiboot/opal-ci/build-debian-unstable.sh
roms/skiboot/opal-ci/Dockerfile-docs
roms/u-boot/arch/arm/dts/include/dt-bindings
roms/u-boot/arch/microblaze/dts/include/dt-bindings
roms/u-boot/arch/mips/dts/include/dt-bindings
roms/u-boot/arch/nios2/dts/include/dt-bindings
roms/u-boot/arch/sandbox/dts/include/dt-bindings
roms/u-boot/arch/x86/dts/include/dt-bindings
roms/u-boot/arch/xtensa/dts/include/dt-bindings
roms/u-boot/board/xilinx/zynq/zynq-cse-nor
roms/u-boot/board/xilinx/zynq/zynq-cse-qspi-single
roms/u-boot/board/xilinx/zynq/zynq-cse-nand
roms/u-boot/board/xilinx/zynqmp/zynqmp-zcu1275-revA
roms/u-boot/board/xilinx/zynqmp/avnet-ultra96-rev1
roms/u-boot/board/xilinx/zynqmp/zynqmp-g-a2197-00-revA
roms/u-boot/board/xilinx/zynqmp/zynqmp-m-a2197-01-revA
roms/u-boot/board/xilinx/zynqmp/zynqmp-m-a2197-02-revA
roms/u-boot/board/xilinx/zynqmp/zynqmp-m-a2197-03-revA
roms/u-boot/board/xilinx/zynqmp/zynqmp-mini
roms/u-boot/board/xilinx/zynqmp/zynqmp-mini-emmc0
roms/u-boot/board/xilinx/zynqmp/zynqmp-mini-emmc1
roms/u-boot/board/xilinx/zynqmp/zynqmp-mini-qspi
roms/u-boot/board/xilinx/zynqmp/zynqmp-p-a2197-00-revA
roms/u-boot/board/xilinx/zynqmp/zynqmp-zcu104-revC
roms/u-boot/doc/develop/package/binman.rst
roms/u-boot/doc/develop/package/entries.rst
roms/u-boot/include/ctype.h
roms/u-boot/tools/microcode-tool
roms/u-boot/tools/binman/binman
roms/u-boot/tools/binman/README.rst
roms/u-boot/tools/binman/test/u_boot_binman_syms_bad.c
roms/u-boot/tools/binman/test/u_boot_binman_syms_x86.c
roms/u-boot/tools/buildman/buildman
roms/u-boot/tools/dtoc/dtoc
roms/u-boot/tools/dtoc/test_fdt
roms/u-boot/tools/patman/patman
roms/u-boot-sam460ex/COPYING
roms/u-boot-sam460ex/tools/sha1.h
roms/u-boot-sam460ex/tools/updater/stubs.c
roms/u-boot-sam460ex/tools/updater-sst/stubs.c
rust/bql/build.rs
rust/chardev/build.rs
rust/hw/char/pl011/build.rs
rust/hw/core/build.rs
rust/migration/build.rs
rust/qom/build.rs
rust/system/build.rs
subprojects/libvduse/include/atomic.h
subprojects/libvduse/include/compiler.h
subprojects/libvduse/linux-headers/linux
subprojects/libvduse/standard-headers/linux
subprojects/libvhost-user/include/atomic.h
subprojects/libvhost-user/include/compiler.h
subprojects/libvhost-user/standard-headers/linux
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/almalinux-9-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/alpine-321-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/alpine-322-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/alpine-edge-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/debian-11-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/debian-12-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/debian-sid-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/fedora-41-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/fedora-42-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/fedora-rawhide-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/opensuse-leap-15-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/opensuse-tumbleweed-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/ubuntu-2204-prep.sh
tests/lcitool/libvirt-ci/ci/gitlab/all_mappings_prep_env/ubuntu-2404-prep.sh
tests/lcitool/libvirt-ci/tests/data/install/image/images/in/cache/fedora-rawhide.qcow2.metadata
tests/lcitool/libvirt-ci/tests/data/install/image/metadata/in/valid.metadata
tests/lcitool/libvirt-ci/tests/data/install/image/metadata/out/valid.metadata

